.backgroundImg { 
  background-image: url("https://images.unsplash.com/photo-1455368109333-ebc686ad6c58?auto=format&fit=crop&w=1955&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D");
  background-size: cover;
  height: 1000px;
}